<div class="TabAdmin">
	<span class="Restaurant">
		<span class="Map">
			<img src="http://maps.googleapis.com/maps/api/staticmap?markers=<%=CGI.escape(@marker_pipe.join('|'))%>&zoom=14&sensor=false&size=100x100&language=th">
		</span>
		<span class="Logo">
			<img src="<%=@restaurant.get_image_path%>">
		</span>
		<span class="Detail">
			<span class="Name"><%=@restaurant.name%></span>
			<span class="Description"><%=@restaurant.description%></span>
			<a href="#" onclick="tab_handler.goto('/tab_restaurant');">แก้ไขร้านอาหาร</a>
		</span>
	</span>
	<span class="Promotion">
		<span class="Logo">
			<img src="">
		</span>
		<span class="Detail">
			<span class="Name">test</span>
			<span class="Description">test</span>
			<span class="Release">25 พฤษภาคม 2555</span>
			<span class="ExpirationDate">30 มิถุนายน 2555</span>
			<span class="Quota">เหลือ 50 เก็บไป 30</span>
			<a href="#" onclick="tab_handler.goto('/tab_promotion/1234/edit');">แก้ไขโปรโมชั่น</a>
			<a href="#" onclick="tab_handler.goto('/tab_promotion/1234/badge');">ดูรายชื่อ</a>
		</span>
	</span>
</div>