<%
	content_for(:meta_tag) {
%>
	<meta property="og:title" content="<%=@promotion.name%>" />
	<meta property="og:description" content="<%=@promotion.description%>" />
	<meta property="og:image" content="<%=@promotion.get_image_url%>" />
<%
	}
%>

<span class="PromotionShow">
	<%=@promotion.inspect%>
</span>
