.TabPromotionShow {
	display: block;

	.PromotionBlock {

		display: block;
		width: 600px;

		margin-left: auto;
		margin-right: auto;

		border: 5px solid #999999;

		> * {
			display: inline-block;
		}

		.Image {
			width: 100px;

			img {
				width: 100px;
				height: 100px;
				border: 1px solid #000000;
			}
		}

		.Detail {
			width: 480px;
			margin-left: 10px;

			> * {
				display: block;
				margin-bottom: 5px;
			}

			.Name {
				font-weight: bold;
			}
		}

	}


	.BadgeList {

		display: block;
		width: 600px;

		margin-left: auto;
		margin-right: auto;


		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #CCCCCC;

		> * {
			display: block;
			margin-bottom: 10px;
		}

		.Filter {
			text-align: center;

			span {
				display: inline-block;
				margin-left: 10px;

				cursor: pointer;
			}
		}


		.SearchPanel {
			text-align: center;

			input {
				display: inline-block;
			}

		}


		.List {
			.Badge {
				display: block;

				text-align: center;

				&.Used {

					.Number {
						text-decoration: line-through;
					}
				}

				.Number {
					display: inline-block;
				}

				.Toolbar {
					display: inline-block;
					margin-left: 10px;

					.ToggleUsageButton {
						border:1px solid #000000;
						cursor: pointer;
					}
				}
			}
		}

	}
}